@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
    word-spacing: 130%;
    letter-spacing: 180%;

}

/* ***** Utilities ***** */
a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    cursor: pointer;
}

.icon {
    color: #fff;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/******* contact details *********/
.contact-details {
    background-color: #1d3548;
    font-size: 12px;
    padding: 10px 50px;
}

.contact-details a {
    color: #fff;
    font-family: sans-serif;
}

/* contact details left block */

.contact-details .left-block .icon {
    padding-right: 2px;
}

.fa-envelope-open-text {
    padding-left: 5px;
}

/* contact details right block */
.contact-details .right-block .icon {
    padding: 0 5px;
}

.contact-details .right-block .icon:hover {
    color: #3DB2FF;
}

.line {
    color: #fff;
}

.login-btn {
    padding: 0 5px;
}

.beta-version-btn {
    font-size: 12px;
    background-color: #0d6efd;
    border: none;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .3s;
}

.beta-version-btn:hover {
    box-shadow: -2px 3px 52px 7px rgba(0, 0, 0, 0.34) inset;
    -webkit-box-shadow: -2px 4px 52px 7px rgba(0, 0, 0, 0.34) inset;
    -moz-box-shadow: -2px 4px 52px 7px rgba(0, 0, 0, 0.34) inset;
}

/********* navbar **********/
.navbar {
    padding: 10px 50px;
    background-color: #f8f9fa;
    position: relative;

}

.navbar .logo {
    width: 150px;
    margin-left: -10px;
    cursor: pointer;
}

.navbar .navigation-menu .navigation-link {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
    transition: color .2s;
}

/* dropdown btn */
.fa-caret-down {
    margin-left: 3px;
}

.navbar .navigation-menu .navigation-link:hover {
    color: #3DB2FF;
}

.active {
    color: #e47962;
}

.active:hover {
    color: none;
}

/***** dropdown ******/
.drop-down {
    display: none;
    width: 200px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    right: 250px;
    top: 50px;
    overflow: hidden;
    padding: 5px 0;
    z-index: 10;
}

.drop-down a {
    display: block;
    font-size: 13px;
    padding: 5px 5px;
    font-weight: 500;
}

.drop-down a:hover {
    background-color: #f1f1f1;

}

/* ***** Carousel / Image Slider ***** */
.image-slider {
    position: relative;
}

/* slider box  */
.slider-box {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/img\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 70vh;
    padding: 0 50px;
    display: none;
}

.slide-two {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/img\ 2.jpg);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-three {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/img\ 3.jpg);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-four {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/img\ 4.jpg);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* slider content */
.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-heading {
    font-size: 26px;
    color: #fff;
    padding-bottom: 25px;
}

.detail-btn {
    text-align: center;
}

.contact-us-btn {
    color: #fff;
    background-color: #0d6efd;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 5px;
    transition: box-shadow .2s;
}

.contact-us-btn:hover {
    box-shadow: -2px 3px 52px 7px rgba(0, 0, 0, 0.34) inset;
    -webkit-box-shadow: -2px 4px 52px 7px rgba(0, 0, 0, 0.34) inset;
    -moz-box-shadow: -2px 4px 52px 7px rgba(0, 0, 0, 0.34) inset;
}

.learn-more-btn {
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}


/* next and prev button */
.prev-btn,
.next-btn {
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    padding: 8px 12px;
    cursor: pointer;
    opacity: 0.5;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #fff;
}

.prev-btn {
    top: 45%;
    left: 5%;
}

.next-btn {
    top: 45%;
    right: 5%;
}

.image-slider .icon {
    font-size: 20px;
    color: #333;
}





/* OUR SERVICES */
.heading {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.details {
    color: #333;
    font-size: 12px;
    padding: 0 230px;
}

.our-services {
    text-align: center;
    padding: 20px 0 30px 0;
}

.services-opt {
    justify-content: center;
}

.service-box {
    width: 165px;
    height: 100px;
    background-color: #1d3548;
    color: #fff;
    padding: 15px 5px;
    margin: 5px;
    border-radius: 5px;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 10px;
}

.service-box:hover {
    background-color: #e47962;
}



/* ***** Third Section******* */
.brief-desc {
    background-color: #f8f9fa;
    padding: 50px;
}

.right-container {
    padding: 0 30px;
    text-align: center;
}

.right-container p {
    margin-bottom: 30px;
}

.btn {
    padding: 8px 14px;
    background-color: #dc3545;
    color: #fff;
    transition: background .2s;
}

.btn:hover {
    background: darkred;
}


/* ***** Popular Courses *****  */
.popular-courses {
    padding: 30px 50px 50px 30px;
    text-align: center;
}

.title {
    font-size: 22px;
    margin: 20px;
    text-align: center;
}

.courses {
    flex-wrap: wrap;
    justify-content: center;
}

.courses-box img {
    width: 190px;
    height: 110px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.courses-box {
    width: 200px;
    height: 160px;
    background-color: #fff;
    padding: 8px 5px 15px 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform .5s;
}

.courses-box:hover {
    transform: translateY(-5px);
}

/* ****** banner ****** */
.banner {
    padding: 50px 220px 30px;
    text-align: center;
    background-color: #464647;
    color: #fff;
}

.banner .student {
    color: #3DB2FF;
    font-size: 32px;
    font-weight: 500;
}

.banner button {
    width: 50%;
    background-color: #0d6efd;
    padding: 10px 20px;
    color: #fff;
    margin: 20px auto 0 auto;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: box-shadow .3s;
}

.banner button:hover {
    box-shadow: -2px 3px 52px 7px rgba(0, 0, 0, 0.34) inset;
    -webkit-box-shadow: -2px 4px 52px 7px rgba(0, 0, 0, 0.34) inset;
    -moz-box-shadow: -2px 4px 52px 7px rgba(0, 0, 0, 0.34) inset;
    ;
}


/* *********************** SIXTH SECTION ******************** */

/* Upcoming Classes */
.owl-carousel {
    padding: 30px 50px;
    
}

.classes-box {
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.classes-box .prev-btn{
    left: -2%;
    background-color: #5f7a8f;
}

.classes-box .next-btn{
    right: -2%;
    background-color: #5f7a8f;
}

.classes-box .next-btn:hover, .prev-btn:hover{
    background-color: #333;
}


.classes-box .box {
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box img {
    width: inherits;
    width: 100%;
    height: 180px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.classes-box .box-content {
    padding: 10px;
}

.classes-box .box-content .course-name {
   font-size: 14px;
}

.classes-box .box-content .course-time {
    font-size: 12px;
    font-weight: bold;
}

.classes-box .box-content .time {
    font-weight: medium;
    font-family: sans-serif;
}

.classes-box .box-content .outlined-box {
    margin: 4px 0;
    border: 1px solid #ccc;
    padding: 2px 5px;
    text-align: center;
    font-family: sans-serif;
}

small {
    color: #dc3545;
}

.line-through {
    width: 1px;
    height: 30px;
    background: #ccc;
}

